In [6]:
# Importing required libraries 
from googleplaces import GooglePlaces, types, lang 
import requests 
import json
from search.landmark import *
import plotly
import plotly.graph_objects as go

In [7]:
%%time
st = ["lumi tropicana", "pj midtown","121 residences"]
st = ["lumi tropicana", "pj midtown"]
# L = Landmark(search_term = st, r = 2)
# df1 = L.fdf
g = gLandmark(search_term = st, r = 2)
df2 = g.fdf

Wall time: 8.95 s

In [8]:
symbol_map = {"mall": "shop", "lrt": "rail-light", "park": "park", "coffee": "cafe", "restaurant": "restaurant", "radi*": "circle"}
df2["symbol"] = df2["category"].replace(regex = symbol_map, method = None)

In [9]:
df2["category"].unique()

array(['mall', 'lrt', 'park', 'coffee', 'restaurant', 'lumi tropicana',
       'radi', 'pj midtown'], dtype=object)

In [20]:
df2

,category,category2,address,lat,lng,address_short,size,color,symbol
0,mall,mall,Citta Mall,3.112345,101.579335,Citta Mall,1.0,#001111,shop
1,mall,mall,MajuHome Concept (Ara Damansara),3.112399,101.578587,MajuHome Concept (Ara Damansara),1.0,#001111,shop
2,mall,mall,Evolve Concept Mall,3.110362,101.586538,Evolve Concept Mall,1.0,#001111,shop
3,mall,mall,Centrepoint Bandar Utama,3.138206,101.610200,Centrepoint Bandar Utama,1.0,#001111,shop
4,mall,mall,Esplanade Avenue,3.146718,101.611907,Esplanade Avenue,1.0,#001111,shop
...,...,...,...,...,...,...,...,...,...
96,radi,NaN,NaN,3.107954,101.662637,,0.3,#050e6e,circle
97,radi,NaN,NaN,3.109340,101.662947,,0.3,#050e6e,circle
98,radi,NaN,NaN,3.110743,101.663169,,0.3,#050e6e,circle
99,radi,NaN,NaN,3.112157,101.663303,,0.3,#050e6e,circle
100,radi,NaN,NaN,3.113577,101.663347,,0.3,#050e6e,circle

In [23]:
mapbox_access_token = open(".mapbox_token").read()

df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/Nuclear%20Waste%20Sites%20on%20American%20Campuses.csv')
site_lat = df.lat
site_lon = df.lon
locations_name = df.text

fig = go.Figure()
n = df2.shape[0]
site_lat = df2["lat"]
site_lon = df2["lng"]
symbol = df2["symbol"]
color = (["#f9ed69", "#355c7d", "#b83b5e", "#a8e6cf", "#d4a5a5", "#b8b0b0"]*100)[:n] #df2["color"]
locations_name = df2["address_short"]
size = df2["size"]+9


fig.add_trace(
    go.Scattermapbox(
        mode = "lines", fill = "toself",
        lat = generate_circle((site_lat.values[0],site_lon.values[0]),3)['lat'].to_list(),
        lon = generate_circle((site_lat.values[0],site_lon.values[0]),3)['lng'].to_list(),
    )
)


fig.add_trace(go.Scattermapbox(
        lat=site_lat,
        lon=site_lon,
        mode='markers',
        marker=go.scattermapbox.Marker(
            symbol=symbol,
            size=size,
            color=color,
            opacity=0.8
        ),
#         text=locations_name,
#         hoverinfo='text'
    ))

fig.add_trace(go.Scattermapbox(
        lat=site_lat,
        lon=site_lon,
        mode='markers',
        marker=go.scattermapbox.Marker(
            size=size,
            color=color,
            opacity=0.4
        ),
        text=locations_name,
        hoverinfo='text'
    ))

# fig.add_trace(go.Scattermapbox(
#         lat=site_lat,
#         lon=site_lon,
#         mode='markers',
#         marker=go.scattermapbox.Marker(
#             size=8,
#             color='rgb(242, 177, 172)',
#             opacity=0.7
#         ),
#         hoverinfo='none'
#     ))

fig.update_layout(
    title='Nuclear Waste Sites on Campus',
#     autosize=True,
    hovermode='closest',
    showlegend=True,
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=site_lat.values[0],
            lon=site_lon.values[0]
        ),
        pitch=0,
        zoom=12,
#         size_max = 25,
#         style='light'
    ),
)

# fig.show()
plotly.offline.plot(fig, filename = 'filename_test.html', auto_open=True)

'filename_test.html'

In [3]:
%%time
plotly.offline.plot(g.plot(), filename = 'filename_3b.html', auto_open=True)

TypeError: scatter_mapbox() got an unexpected keyword argument 'symbol'

In [6]:
fig = g.plot()

In [5]:
%%time
# plotly.offline.plot(L.plot(), filename = 'filename_3a.html', auto_open=True)

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 5.72 µs

In [8]:
# fig["data"]

CPU times: user 90.9 ms, sys: 13.5 ms, total: 104 ms
Wall time: 270 ms

'filename_3b.html'

In [25]:
i = [3.1390, 101.6869]
bbox = get_bbox(i, 200)
g = geocoder.mapbox('121 residences damansara pju', bbox= bbox, key=L.key)

In [11]:
# !pip install colorlover

In [26]:
for k in g:
    print(k)

[Ara Damansara PJU 1A/25, Jalan PJU 1A/25, Ara Damansara, Petaling Jaya, Selangor 47301, Malaysia]
[Ara Damansara PJU 1A/24C, Petaling Jaya, Selangor 47301, Malaysia]
[Ara Damansara PJU 1A/12, Jalan PJU 1A/12, Petaling Jaya, Selangor 47301, Malaysia]
[Ara Damansara PJU 1A/28, Jalan PJU 1a/28, Petaling Jaya, Selangor 47301, Malaysia]
[Asmara Penchala Restoren, Kuala Lumpur, Kuala Lumpur 60000, Malaysia]

In [6]:
fig = px.scatter_mapbox(fdf, lat="lat", lon="lng", color="category", size = "size",
                        size_max=25, zoom=20, 
                        text="address_short")





fig.update_layout(
    autosize=True,
    hovermode='closest',
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=latlng[0],
            lon=latlng[1]
        ),
        pitch=0,
        zoom=12
    ),
)

## SAVE
plotly.offline.plot(fig, filename = 'filename_2.html', auto_open=True)

NameError: name 'fdf' is not defined

In [3]:
df2

,category,category2,address,lat,lng,address_short,size
0,mall,mall,Paradigm Mall,3.105117,101.595970,Paradigm Mall,2.0
1,mall,mall,Citta Mall,3.112345,101.579335,Citta Mall,2.0
2,mall,mall,Giant Mall Kelana Jaya,3.103485,101.597975,Giant Mall Kelana Jaya,2.0
3,mall,mall,Evolve Concept Mall,3.110362,101.586538,Evolve Concept Mall,2.0
4,mall,mall,Kelana Mall,3.104450,101.599039,Kelana Mall,2.0
...,...,...,...,...,...,...,...
96,radi,NaN,NaN,3.112657,101.611768,,0.3
97,radi,NaN,NaN,3.114043,101.612077,,0.3
98,radi,NaN,NaN,3.115446,101.612300,,0.3
99,radi,NaN,NaN,3.116860,101.612433,,0.3
100,radi,NaN,NaN,3.118279,101.612478,,0.3

In [7]:

# This is the way to make api requests 
# using python requests library 
  
# Use your own API key for making api request calls 
API_KEY = open("google_token.txt").read()
  
# Initialising the GooglePlaces constructor 
google_places = GooglePlaces(API_KEY) 
  
# call the function nearby search with 
# the parameters as longitude, latitude, 
# radius and type of place which needs to be searched of  
# type can be HOSPITAL, CAFE, BAR, CASINO, etc 
query_result = google_places.nearby_search( 
        lat_lng ={'lat': 3.111294, 'lng': 101.631702}, 
        radius = 500, 
        name='coffee',
        # types =[types.TYPE_HOSPITAL] or 
        # [types.TYPE_CAFE] or [type.TYPE_BAR] 
        # or [type.TYPE_CASINO]) 
        types =[types.TYPE_POINT_OF_INTEREST]) 
  
# If any attributions related  
# with search results print them 
if query_result.has_attributions: 
    print (query_result.html_attributions) 
  
  
# Iterate over the search results 
z = {"a":1}
for place in query_result.places: 
    # print(type(place)) 
    # place.get_details() 
    print (place.name) 
    z["a"] = float(place.geo_location['lat'])
    print(z)
    print("Latitude", place.geo_location['lat']) 
    print("Longitude", place.geo_location['lng']) 
    print()

Collective
{'a': 3.1147165}
Latitude 3.1147165
Longitude 101.629364

The Coffee Bean & Tea Leaf
{'a': 3.1101906}
Latitude 3.1101906
Longitude 101.6373324

Fluffed Cafe & Dessert Bar
{'a': 3.1100557}
Latitude 3.1100557
Longitude 101.6269188

Starbucks
{'a': 3.1111672}
Latitude 3.1111672
Longitude 101.6323738

Village Coffee, Dream Centre
{'a': 3.1121556}
Latitude 3.1121556
Longitude 101.6367163

Doi Chaang Coffee Malaysia Official
{'a': 3.117734}
Latitude 3.117734
Longitude 101.6347183

G Coffee
{'a': 3.1124771}
Latitude 3.1124771
Longitude 101.6370656

ARTHS Coffee
{'a': 3.1051402}
Latitude 3.1051402
Longitude 101.6351663

Starbucks
{'a': 3.1091104}
Latitude 3.1091104
Longitude 101.6370014

San Francisco Coffee - Symphony Square
{'a': 3.1108971}
Latitude 3.1108971
Longitude 101.6365727

& Arabica Coffee
{'a': 3.1176088}
Latitude 3.1176088
Longitude 101.6348536

Cube Coffee Sea park
{'a': 3.112745}
Latitude 3.112745
Longitude 101.6267

Starbucks
{'a': 3.1178728}
Latitude 3.1178728
Longitude 101.6356302

Utami Coffee
{'a': 3.1178896}
Latitude 3.1178896
Longitude 101.634729

Tedboy Bakery
{'a': 3.117744}
Latitude 3.117744
Longitude 101.6349248

Coffeeboy Club
{'a': 3.1179183}
Latitude 3.1179183
Longitude 101.6371134

Gong Cha
{'a': 3.1089224}
Latitude 3.1089224
Longitude 101.6372321

In [11]:
# API_KEY
# !pip install python-google-places

In [4]:

import plotly.offline as pyo
import plotly.graph_objects as go
fig = go.Figure(go.Scattermapbox(
    mode = "lines", fill = "toself",
    lat = generate_circle((30,30),10)['lat'].to_list(),
    lon = generate_circle((30,30),10)['lng'].to_list())
)
fig.update_layout(
    mapbox = {'style': "stamen-terrain", 'center': {'lon': 30, 'lat': 30}, 'zoom': 10},
    showlegend = False,
    margin = {'l':0, 'r':0, 'b':0, 't':0})


plotly.offline.plot(fig, filename = 'filename_4.html', auto_open=True)

'filename_4.html'

In [9]:
generate_circle((100,200),10)['lat'].to_list()
generate_circle((100,200),10)['lng'].to_list()

[200.0904371732957,
 200.0902587161926,
 200.089724049172,
 200.08883528232033,
 200.0875959231943,
 200.0860108629782,
 200.08408635718055,
 200.08183000094652,
 200.0792506990833,
 200.07635863091704,
 200.07316521011947,
 200.06968303966354,
 200.06592586208524,
 200.06190850524794,
 200.05764682382375,
 200.05315763672223,
 200.048458660714,
 200.04356844051057,
 200.038506275577,
 200.03329214396555,
 200.02794662347162,
 200.02249081042243,
 200.01694623641956,
 200.01133478336357,
 200.005678597096,
 200.0,
 199.994321402904,
 199.98866521663643,
 199.98305376358044,
 199.97750918957757,
 199.97205337652838,
 199.96670785603445,
 199.961493724423,
 199.95643155948943,
 199.951541339286,
 199.94684236327777,
 199.94235317617625,
 199.93809149475206,
 199.93407413791476,
 199.93031696033646,
 199.92683478988053,
 199.92364136908296,
 199.9207493009167,
 199.91816999905348,
 199.91591364281945,
 199.9139891370218,
 199.9124040768057,
 199.91116471767967,
 199.910275950828,
 199.9097412838074,
 199.9095628267043,
 199.9097412838074,
 199.910275950828,
 199.91116471767967,
 199.9124040768057,
 199.9139891370218,
 199.91591364281945,
 199.91816999905348,
 199.9207493009167,
 199.92364136908296,
 199.92683478988053,
 199.93031696033646,
 199.93407413791476,
 199.93809149475206,
 199.94235317617625,
 199.94684236327777,
 199.951541339286,
 199.95643155948943,
 199.961493724423,
 199.96670785603445,
 199.97205337652838,
 199.97750918957757,
 199.98305376358044,
 199.98866521663643,
 199.994321402904,
 200.0,
 200.005678597096,
 200.01133478336357,
 200.01694623641956,
 200.02249081042243,
 200.02794662347162,
 200.03329214396555,
 200.038506275577,
 200.04356844051057,
 200.048458660714,
 200.05315763672223,
 200.05764682382375,
 200.06190850524794,
 200.06592586208524,
 200.06968303966354,
 200.07316521011947,
 200.07635863091704,
 200.0792506990833,
 200.08183000094652,
 200.08408635718055,
 200.0860108629782,
 200.0875959231943,
 200.08883528232033,
 200.089724049172,
 200.0902587161926,
 200.0904371732957]